body {
    background-color: #4DC9C0;    
}

.page-wrapper {
    box-shadow: none;
}

.gameLogo {
    margin: 30px auto 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

#gameTrailer h2 {
   font-family: "Oswald", sans-serif, arial;
    color: #EEF0E4;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin: 30px 0 10px;
    text-transform: uppercase;
}

#gameTrailer .brief{        
    color: #EEF0E4;  
    line-height: 1.3em;
    text-align: center;
} 

#gameTrailer .backLink{
    color: #C7F464;
    float: right;
    text-decoration: none;    
} 

#gameTrailer .backLink:hover{
    color: #F75F51;
    text-decoration: underline;
} 

/*#welcome-content {               
    background-color: #4DC9C0;
    background-image: url(/images/absurdity.png), url('/images/hideAndSeek/hideAndSeek_logo_red.svg');
    background-repeat: repeat, no-repeat;
    background-size: 0.4%, 30%;
    background-position: 0 0, 105% -7%;        
    padding: 5% 2% 0%;  
    min-height: 450px;
}

#welcome-content h2 {
    font-family: "Oswald", sans-serif, arial;
    color: #EEF0E4;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
    margin: 30px 0;
}

#welcome-content .briefCol {
    margin-top: 30px;
}

#welcome-content .brief{        
    color: #EEF0E4;  
    line-height: 1.3em;
}    

#welcome-content .briefDraw {        
    margin: 0 25% 10px;
    width: 200px;
}

#welcome-content .briefDraw.bottom {
    margin: 5% 5% 0 7%;
    float: left;
    width: 150px;
}*/