/*
    #welcome-content {
        /*background-image: url(/images/absurdity.png), url('/images/hideandseek_logo_red.svg');
        background-repeat: repeat, no-repeat;
        background-size: 0.4%, 30%;
        background-position: 0 0, 105% -10%;        
padding: 5% 2% 0%;
}
    
#welcome-content .briefCol {
        margin-top: 30px;
    }

    #welcome-content .brief{        
        color: #EEF0E4;  
        line-height: 1.3em;
    }    

    #welcome-content .brief.advice{
        font-size: 1.1em;
        text-transform: uppercase;
        text-align: center;
        background-color: #F75F51;
        padding: 5%;
        margin: 10% 10% 10% 5%;
        width: 69%;
        box-shadow: 1px 1px 1px black inset;
    }    

    #welcome-content .briefDraw {        
        margin: 0 25% 10px;
        width: 200px;
    }

    #welcome-content .briefDraw.bottom {
        margin: 5% 5% 0 7%;
        float: left;
        width: 150px;
    }*/

    /*PLAY HIDE AND SEEK*/
    /*#playHideAndSeek {
        background-image: url('/images/absurdity.png');
        background-color: #4DC9C0;
        padding: 0% 20%;
        position: relative;
        height: 470px;
        width: 100%;
    }
    
    #playHideAndSeek h2{
        
    }
    
    #playHideAndSeek p{        
        color: #EEF0E4;
    }    

    .demoGame.selector p.brief{        
        margin-top: 5%;
        line-height: 1.5em;
    }

    .demoGame.selector p.brief span{
        font-weight: 700;
    }

    .demoGame.selector .buttonHolder{
        margin-top: 4%;
    }

    .demoGame.selector .channel {
        background-color: #556270;
        border: 3px solid #C7F464;
        border-radius: 3px;        
        padding: 14px 0;
        float: left;        
        margin: 10px 0;
        width: 100%;
        color: #C7F464;
        text-align: center;        
    }
    
    .demoGame.selector .channel:hover {
        color: #556270;
        background-color: #C7F464;
    }

    .demoGame.preview {
        height: 700px;  
        width: 70%;
        position: absolute;
        top: -37%;
        left: 17%;        
    }    

    .shadow {
        filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
        filter: url(#drop-shadow);
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    }

    #retroTV #sombra {
        opacity: 0.6;
    }

    #retroTV #firstChannel, #retroTV #secondChannel {        
        cursor: pointer;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg); 
        transform-origin: center;
    }

    #retroTV #firstChannel:hover, #retroTV #secondChannel:hover {
        -ms-transform: rotate(45deg); 
        -webkit-transform: rotate(45deg); 
        transform: rotate(45deg);         
    }

    #retroTV #firstChannel:hover .color {
        fill: #db5549;
    }

    #retroTV #secondChannel:hover .color {
        fill: #983d46;
    }

    .demoGame.preview .teaserWrapper {
        background: url('/images/no-signal.gif') repeat;        
        background-color: #556270; 
        width: 55%;
        height: 40%;
        z-index: 30;
        position: absolute;
        top: 40%;
        left: 10%;        
        border-radius: 33px;
        border: 3px solid #556270;
    }

    .demoGame.preview .teaserWrapper.hs_logo {
        background-image: url('/images/hideandseek_logo_green.svg');
        background-repeat: no-repeat;
        background-size: 55%;
        background-position: center;
        opacity: 0.4;
    }
    
    .demoGame.preview .teaserWrapper .screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        opacity: 0;        
        z-index: 40;
        border-radius: 30px;
    }      
    
    .demoGame.preview .teaserWrapper .screen.first {
        background: url("/images/hideAndSeek_first.png") no-repeat;
        background-size: cover;
    }
    
    .demoGame.preview .teaserWrapper .screen.third {
        background: url("/images/hideAndSeek_third.png") no-repeat;
        background-size: cover;
    }

    .demoGame.preview .screen h4 {
        color: #FFF;
        background-color: rgba(247,95,81,0.7);
        padding: 7px 20px;
        text-align: left;
        position: absolute;
        z-index: 10;
        bottom: 15px;
        width: 100%;        
    }  

    .demoGame.preview .screen.third h4 {
        background-color: rgba(192,77,88,0.7);
    }*/