// FOUNDATION

body {
    background-color: #FFF;
    font-size: 12px;
    font-family: sans-serif;
}

/*PASAR AL MEDIA ONLY SCREEN*/
    #topBarLogo a {
        /*background:url("/images/header.png") no-repeat;	*/
    }

    #topBarLogo h1 {
        display: none;
    }

    .top-bar {
        background-color: #333;
        /*opacity: 0.8;*/
    }

    .menuList {

    }

    .menuList li a {
        color: #FFF;
    }

    .menuList li:hover {
        background-color: #FA6900;
    }

    .menuList li:hover a {
        color: #FFF;
    }

    #welcome-content {
        background-color: #FA6900;
        background:url("/images/header.png") no-repeat;	
        background-size: cover;
        background-position-y: 55%;
        height: 420px;
        border-bottom: 1px solid #333;
        box-shadow: 0px 2px 6px #333;
    }

    #welcome-content h2 {
        display: none;		
    }
    
    .section {
        padding: 30px 0 50px;
    }

    .section h2 {
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: normal;
        color: #FA6900;
    }    

    .section p {
        font-size: 0.9em;
        line-height: 1.1em;
    }   

    /*PLAY HIDE AND SEEK*/
    #playHideAndSeek {
        border-bottom: 1px solid #333;
    }
    
    .gameVersions {
    
    }

    .demoGame .teaserWrapper {
        background-color: #000;
    }
    
    .demoGame a {
        position: relative;
        height: 250px;
        overflow: hidden;
        display: block;
        opacity: 0.3;
    }    

    .demoGame a h4 {
        color: #FFF;
        background-color: rgba(0,0,0,0.7);
        padding: 5px 10px;
        text-align: left;
        position: absolute;
        z-index: 10;
        bottom: 5px;
        width: 100%;
        opacity: 0;
    }

    .demoGame a:hover {
        opacity: 1;
    }

    .demoGame a:hover h4 {
        opacity: 1;
    }
    
    .demoGame.first a {
        background: url("/images/hideAndSeek_first.png") no-repeat;
    }
    
    .demoGame.third a {
        background: url("/images/hideAndSeek_third.png") no-repeat;
    }

    /*ABOUT + TEAM*/
    #about {
        background-color: #F4F4F4;
    }

    #team {
        background-color: #F4F4F4;
        padding-top: 0;
    }

    .teamMember {
        
    }

    .teamMember a {
    
    }

    .teamMember .imageWrapper {
        position: relative;
        height: 250px;
        overflow: hidden;
        
    }

    .teamMember .imageWrapper img {
        width: 100%;
    }

    .teamMember h3 {
        position: absolute;
        bottom: 28px;
        width: 100%;
        padding: 5px 15px 0;
        font-size: 1.1em;
        font-weight: 700;
        color: #FFF;
        background-color: rgba(0,0,0,0.7);
    }

    .teamMember span {
        position: absolute;
        bottom: 15px;
        width: 100%;
        padding: 0 15px 5px;
        font-size: 0.7em;
        font-weight: 700;
        color: #FFF;
        background-color: rgba(0,0,0,0.7);
    }
    
    /*CONTACT US*/
    #contact {
        background-color: #FA6900;
    }

    #contact h2 {
        color: #FFF;
    }

    #contact p {
        color: #FFF;
    }
/*PASAR AL MEDIA ONLY SCREEN*/

// Small screens
@media only screen { 

    
    
} /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
