@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

$color-whiteMana: #EBEFDC;
$color-orange: #F26A25;
$color-green: #7ACB76;
$color-blue: #10314C;
$color-liquen: #10BAAD;
$color-purpleHaze: #6A437E;
$color-white: #FAFAFA;
$color-black: #10100F;
$color-tipid: #76C7E0;
$color-yellow: #F4BA25;
$color-nepaliGreen: #0C978B;

body {
    width: 100%;
    //height: 100vh;
    margin: 0;
    padding: 0;    
    background: url('../assets/dust_scratches.png') repeat;
    background-blend-mode: multiply;
    background-color: $color-whiteMana;
    
    &#splash {
        overflow: hidden;
    }
}

h1 {
    
}

h2 {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 63px;
    text-align: center;
    letter-spacing: -0.01em;
    color: $color-black;
    
    @media screen and (min-width: 600px) {
        font-size: 48px;
    }
}

h3 {
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    color: $color-black;
    margin: 5vh 0;
    
    @media screen and (min-width: 600px) {        
        margin: 5vh 0 2vh;
        font-size: 24px;
    }
}

svg {
    width: 100%;
    height: 100%;
}

a, p, button, .button {
    color: $color-black;
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 18px;
}

p {
    text-align: center;
    line-height: 150%;
    letter-spacing: -0.01em;
    
    &.big {
       font-size: 21px;
    }
    &.xbig {
       font-size: 24px;
    }
}

a {    
    text-decoration: none;
    position: relative;
    
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

}

.button, button {
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    border: 2px solid $color-black;
    background: transparent;
    border-radius: 4px;
    color: $color-black;
    cursor: pointer;
    letter-spacing: 0.05em;  
    
    &:hover {
        color: $color-whiteMana;
        background: $color-black;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    
    width: 75%;
    padding: 10px;

    @media screen and (min-width: 600px) {
        width: auto;
        padding: 10px 40px;
    }
}

header {
    display: flex;
    justify-content: center;
    max-height: 100px;
    
    img {  
        width: 55vw;
        
        @media screen and (min-width: 430px) and (max-width: 1024px) {
            width: 35vw;
        }
        @media screen and (min-width: 1025px) {
            width: 30vw;
        }
    }
    
    @media screen and (min-width: 600px) {
        max-height: 150px;
    }
}

#navbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    
    background: rgba( 235, 239, 220, 0.20 );
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    
    z-index: 9999;
    opacity: 1;
    height: 3em;
    
    a {
        padding: 16px 32px;
    }
    
    #navbar-icon {
        width: 15%;
        height: auto;
        margin-left: 1em;
        opacity: 0;
        
        @media screen and (min-width: 600px) {
            width: 10%;
        }
        
        @media screen and (min-width: 900px) {
            width: 5%;
        }
    }    
}

footer {
    font-family: 'Inter', helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 10vw;
    
    @media screen and (min-width: 600px) {
        margin-top: 0;
    }
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    
    .mark {
        position: absolute;
    }
    
    p {
        margin: 0 auto 0;
        width: 90%;
        
        @media screen and (min-width: 600px) {
            width: 60%;
        }
    }
    
    a {
        &.link {
            text-align: center;
            margin: 0 auto;
        }       
    }
    
    &.cta {
        height: 60vh;
        justify-content: center;
    }
    
    @media screen and (min-width: 600px) {
        &.hero {
            p {
                width: 36%;
            }
        }

        &.about {
            p {
                width: 45%;
            }
        }
    }
}

.wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
        
        &.left {
           width: 90%;
           position: relative;
            
            h2 {
                 margin-top: 0;
            }
        }
        &.right {
            width: 90%;
            justify-content: flex-end;
        }
    }
    
    .ilus {
        width: auto;        
        
        @media screen and (min-width: 600px) {
            height: 100vh;
        }
    }
    
    @media screen and (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
        
        .col {
            &.left {
               width: 50%;
                
                h2 {                    
                     margin-top: 0;
                }
            }
             &.right {
                width: 40%;
                margin-right: 5%;
            }   
        }
    }
}

.bkg {
    opacity: .18;
    height: auto;                
    position: absolute;
    z-index: -10;
    
    &.left {
        width: 604px;
        top: -5vh;

        @media screen and (min-width: 600px) {
            width: 954px;
            height: 824px;
            left: -13vw;
            top: 0;
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            left: -23vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            left: -33vw;
        }
        @media screen and (max-width: 768px) {
            left: -90vw;
        }
    }
    
    &.right {
        width: 600px;
        bottom: 0;

        @media screen and (min-width: 600px) {
            width: 720px;
            right: -21vw;
        }
        @media screen and (min-width: 1025px) and (max-width: 1280px) {
            right: -27vw;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            right: -42vw;
        }
        @media screen and (max-width: 768px) {
            right: -74vw;
        }
    }
        
}

#contact {
    padding-top: 13vh;
    height: auto;
    
    .ilus {
        height: auto;
    }
    
    @media screen and (min-width: 600px) {
        padding-top: 23vh;
        margin-bottom: 5vh;
        
        .left {
            display: flex;
            align-items: center;
        }
    }
}

.projectWrapper {  
    display: flex;
    align-items: flex-start;
    margin-bottom: 5vh;
    
    @media screen and (min-width: 600px) {
        height: 90vh;
        display: flex;
        align-items: center;
    }    
    
    /* Next & previous buttons */
    .prev, .next {
        background: transparent;
        border: none;
        margin: 0;        

        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 16px;
        user-select: none;

        &:hover {      
            background: transparent;

            -webkit-transition: all 250ms ease-out;
            -moz-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;        
        }

        img {
            width: 30px;
            height: auto;
        }
        
        @media screen and (min-width: 600px) {
            margin: 16px;
            
            img {
                width: 40px;
            }
        }
    }

    .prev {
        left: 0;
        
        &:hover {
            transform: translateX(-1vw);
        }
    }

    .next {
        right: 0;

        &:hover {
            transform: translateX(1vw);
        }
    }
}

.project {
    display: none;    
    
    p {
        margin: 0 auto 5vh;
        width: 90%;
        
        @media screen and (min-width: 600px) {
            width: 60%;
            font-size: 21px;  
        }
    }
    
    a {
        @media screen and (min-width: 600px) {
            font-size: 21px;  
        }
    }    
    
    &#codesters {
        height: 108vh;
        
        @media screen and (min-width: 600px) {
            height: 100vh;
        }
        
        .button {
            background-color: $color-green;
            color: $color-white;
            border: none;
            
            &:hover {
                background-color: #57AA53;
            }
        }
    }
    
    &#particular {
        .button {
            background-color: $color-orange;
            color: $color-white;
            border: none;
            
            &:hover {
                background-color: #CD4B09;                
            }
        }
    }
    
    &#tipid {
        .button {
            background-color: $color-tipid;
            color: $color-white;
            border: none;
            
            &:hover {
                background-color: #55A8C1;
            }
        }
    }
    
    &#koit {
        .button {
            background-color: $color-yellow;
            color: $color-white;
            border: none;
            
            &:hover {
                background-color: #D79B03;
            }
        }
    }
    
}


#about-ilus {
    width: 32vw;
    margin: 0 auto;
    
    @media screen and (min-width: 600px) {
        width: 10vw;
    }
}

#atom {    
    position: absolute;
    top: -2rem;
    left: -2rem;
    width: 4rem;
    height: 4rem;    
}

#container-logo {    
    margin: 0 auto;
    max-width: 65%;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*FORM*/
form {
    display: flex;
    flex-direction: column;        
    align-items: center;
    width: 90vw;
    
    label {
        display: flex;
        flex-direction: column;        
        width: 100%;        
        margin-bottom: 5vh;
        
        span {
            font-family: 'Inter', Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.09em;
            opacity: .5;
        }
        
        input, textarea {
            font-size: 16px;
            font-family: 'Inter', Helvetica, sans-serif;
            
            background: transparent;
            border: none;
            border-bottom: 2px solid $color-black;
            border-radius: 0;
            height: 40px;
            margin-top: 3px;
            padding: 1px 8px;
            
            &:focus, &:active {
                border-bottom: 2px solid $color-orange;
                box-shadow: 0px 1px 2px #FAC0A4;
                outline: 0px;
                
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }
        textarea {
            height: 80px;
        }
    }
    
    button {
        margin: 16px 0;
        border: none;
        background: $color-nepaliGreen;
        color: $color-whiteMana;
    }
        
    @media screen and (min-width: 600px) {
        width: 33vw;
    }
}