@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-whiteMana: #EBEFDC;
$color-orange: #F26A25;
$color-green: #7ACB76;
$color-blue: #10314C;
$color-liquen: #10BAAD;
$color-purpleHaze: #6A437E;
$color-white: #FAFAFA;
$color-black: #10100F;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    overflow: hidden;
    background-color: $color-whiteMana;
}

a {
    color: $color-black;
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 1em;
}

#footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}