$color-whiteMana: #EBEFDC;
$color-orange: #F26A25;
$color-green: #7ACB76;
$color-blue: #10314C;
$color-liquen: #10BAAD;
$color-purpleHaze: #6A437E;
$color-white: #FAFAFA;
$color-black: #10100F;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;    
    overflow: hidden;
    background-color: aquamarine
}

#footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
}